body{
    background-image: url("image/ep.png");
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
    color: rgb(237, 237, 237);
}

h1 {
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 23px;
}
h3 {
    font-size: 17px;
    font-weight: bold;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 23px;
}

/*NAVIGACIJA*/

nav{
    max-width: 1200px;
    margin: 0 auto;
    background-image: url("image/concert.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.back{
    background: rgb(0, 0, 0);
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 20px 50px 10px rgba(0, 0, 0, .7);
}

/*BIG LOGO*/

.main-image{
    position: relative;
    height: 200px;
    margin-left: 4%;
    margin-top: 40px;
    margin-bottom: 200px;
}

.main-image img{
    width: 65%;
}

.main-image h3{
    position: absolute;
    font-weight: bold;
    top: 45%;
    left: 25.7%;
}

/*topNav*/

.topnav{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    background: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,1));
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.topnav a{
    color: white;
    text-decoration: none;
    padding: 5px;
    text-align: center;
}

.topnav .top-menu{
    margin: 0;
    list-style: none;
    position: relative;
    flex-basis: 25%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.top-menu .noWrap{
    width: 100px;
}

.top-menu img{
    padding-top: 1px;
    padding-left: 1px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.top-menu .zuta{
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: #fabb00;
}

.top-menu a:hover{
    border-bottom: 1px solid #fabb00;
}

.topnav ul{
    margin-top: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}

.topnav .search-container{
    display: flex;
    flex-basis: 60%;
}

.search-container input{
    padding: 5px; 
    width: 60%;
    transition: width 0.4s ease-in-out;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #ffffffee;
}

.search-container input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #ffffffee;
	border-color: #fabb00;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
	outline: none;
}

.search-container button{
    float: right;
    padding: 5px;
    vertical-align: middle;
    margin-right: 16px;
    background: rgb(97, 56, 172);
    color: rgb(237, 237, 237);
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-container button:hover{
    color: #f2cc5d;
}

/*mainNav*/

.main-nav{
    background: linear-gradient(to top, rgba(0,0,0,.3), rgba(0,0,0,.6));
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
    height: 44px;
    position: relative;
}

.main-nav2{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    margin-top: -0px;
    margin-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
    height: 44px;
    position: relative;
    z-index: -1;
}

.main-nav ul{
    margin: 0;
    padding: 0;
    width: 80%;
}

.main-nav .right{
    text-align: right;
}

.main-nav li{
    flex-basis: 20%;
    max-width: 200px;
}

.main-nav li:hover{
    transition-delay: .2s;
    background-color: rgba(0, 0, 0, 0.3);
}

.main-nav a{
    color: rgb(237, 237, 237);
    font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 23px;
    text-decoration: none;
    display: block;
    padding-bottom: 8px;
    padding-top: 6px;
}

/*Pod Menu*/

.main-nav .menu-sub{
    text-align: left;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    visibility: hidden;
    overflow:hidden;
    max-height:0;
    padding-top: 2em;
    z-index:1;
    transition: visibility 0s 0s;
    left: 0;
}

.menu-sub li{
    display: block;
}

.main-nav li:hover .menu-sub{
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: space-around;
    max-height:400px;
    visibility:visible;
    transition-delay: .2s;
    border-bottom: 1px solid #fabb00;
}

.main-nav .menu-sub li:hover{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.menu-sub h3{
    border-bottom: 1px solid #fabb00;
    margin:2.5em 0 .5em;
}

.menu-sub h3:first-of-type{
    margin-top: 0;
}

.menu-sub a{
    padding: 0;
    padding-bottom: .3em;
    padding-top: .3em;
    font-size: 17px;
	font-style: normal;
    font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

.menu-sub a:hover{
    color: #fabb00;
}

.menu-sub .menu-col1{
    flex: 1;
    max-width: 200px;
    margin-left: 4.5%;
}

.menu-sub .menu-col2{
    flex: 1;
    max-width: 200px;
    margin-left: 8%;
}

.menu-sub .menu-col3{
    flex: 2;
    margin-left: 8.4%;
    margin-right: 4%;
    padding-bottom: 1em;
    min-width: 200px;
}

.con{
    position: relative;
    width: 100%;
}

.menu-sub .menu-col3 .image{
    max-width: 100%;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.menu-sub .menu-col3 .middle{
  position: absolute;
  bottom: 1%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: .5em;
}

.menu-sub .con:hover img{
    transform: scale(1.04);
    color: #fabb00;
}

/*Top events*/

main{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -160px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,1));
    padding-top: 50px;
}

.top-events{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.top-events a{
    flex-basis: 20%;
    max-width: 200px;
    min-width: 200px;
    height: 300px;
    margin-bottom: 20px;
}

.top-events a img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    max-height: 300px;
    transition: all .1s ease-in-out;
}

.top-events a:hover img{
    transform: scale(1.04);
    border: 1px solid #fabb00;
}

/*Top genres*/

.top-genres{
    background: url("image/mid.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.top-genres .fix4{
    background: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,0));
}

.top-genres h1{
    padding-top: 25px;
    padding-bottom: 40px;
    width: 200px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
    line-height: 23px;
}

.top-genres .space{
    width: 800px;
}

.trans{
    height: 15px;
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,.3));
}

.top-genres .con{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.top-genres ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 200px;
    flex-basis: 20%;
}

.top-genres li{
    margin: 0;
    max-width: 200px;
    padding-bottom: 2px;   
}

.top-genres .aspec{
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    width: 200px;    
    text-decoration: none;
    text-align: left;
    color: white;
    background-color: #002a54bb;
    display: block;
    transition: all .2s ease-in-out;
}

.top-genres .aspec:hover{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 6px;
    font-size: 19px;
    font-weight: bold;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
    line-height: 23px;
    border-left: 1px solid #fabb00;
}

.top-genres .container{
    flex-basis: 80%;
    position: relative;
    max-height: 400px;
    max-width: 800px;
    padding-bottom: 40px;
}

.text-block{
    text-decoration: none;
    position: absolute;
    bottom: 60px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.7);
    transition: all .2s ease-in-out;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.text-block h3{
    flex: 2;
}

.text-block .fix2{
    color: white;
    padding-top: 17px;
    display: block;
    text-decoration: none;
    text-align: center;
    flex: 1;
}

.text-block:hover .fix2{
    color: #fabb00b1;
}

.text-block:hover{
    transform: scale(1.02);
    border: 1px solid #fabb00;
}

.text-block .checked{
    color: #fabb00;
    padding-left: 2px;
}

.top-genres img{
    width: 100%;
    height: auto;
    max-height: 400px;
    box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.7);
    border: 1px solid #fabb004d;
}

/*Izbor Lokacija*/

.lokacija{
    background-color: #e0e0e0;
}

.lokacija .fix4{
    background: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,0));
}

.lokacija h1{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 200px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
    line-height: 23px;
    color: #002a54;
}

.lokacija .space{
    width: 800px;
}

.lokacija .image-con{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.image-con a{
    text-decoration: none;
}

.image-con .container{
    position: relative;
    flex: 2 1 1;
}

.image-con .container1{
    position: relative;
    flex: 1 2 1;
}

.image-con a:hover .text-block{
    color: #fabb00;
    border-bottom: 1px solid #fabb00;
}

.image-con img{
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.7);
    transition: all .2s ease-in-out;
}

.image-con img:hover{
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.image-con .text-block{
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.7);
}

/*O Eventimu*/

.oEventimu{
    background-color: #e0e0e0;
    border: 5px dashed black;
}

.fix4{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.oEventimu .space{
    width: 200px;
}

.oEventimu h1{
    padding-top: 40px;
    padding-bottom: 20px;
    width: 800px;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}

.oEventimu .info-con{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.oEventimu .one h3{
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
    color: #002a54;
}

.oEventimu .one p{
    max-width: 800px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}

.oEventimu .one iframe{
    max-width: 800px;
    padding-bottom: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.oEventimu .two h3{
    width: 200px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
    color: #002a54;
}

.oEventimu .two p{
    max-width: 200px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}

.oEventimu .two a{
    display: block;
    max-width: 200px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #002a54;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.oEventimu .two a:hover{
    border-left: 1px solid #fabb00;
    padding-left: 1%;
}

/*Info*/

footer .foot-con{
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.foot-con h1{
    width: 500px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.foot-con h3{
    padding-top: 0;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.foot-con input{
    padding: 5px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
}

.foot-con ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.foot-con li{
    margin-bottom: 4px;
}

.foot-con a{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    width: 200px;
    text-decoration: none;
    color:whitesmoke;
    background-color: #002a54;
    display: block;
    border-radius: 1px;
}

.foot-con a:hover{
    color: #fabb00;
}

.foot-con a i{
    float: right;
    text-align: right;
    padding-right: 2px;
}

.foot-con .sub-con{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.foot-con .bill-con{
    max-width:200px;
}

.end{
    border-top: 1px solid #fabb00;
    background-color: #002a54;
    width:100%;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
}

@media only screen and (max-width: 616px) {
    .foot-con .one{
        width: 200px;
    }

    .foot-con .two{
        width: 200px;
    }

    .lokacija .image-con img{
        max-width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }

    .info-con .one {
        max-width: 200px;
    }

    .oEventimu h1{
        max-width: 200px;
    }

    .oEventimu iframe{
        height: 300px;
    }

    .top-genres .container{
        display: none;
    }

    .top-genres{
        padding-bottom: 40px;
    }
    .main-nav li:last-of-type{
        display: none;
    }

    .main-nav .menu-col3{
        display: none;
    }
}

@media (max-width:1027px) and (min-width:616px){
    .back{
        background: rgb(0, 0, 0);
        max-width: 800px;
        margin: 0 auto;
        box-shadow: 0 20px 50px 10px rgba(0, 0, 0, .7);
    }

    .top-events a:last-of-type{
        display: none;
    }

    .lokacija .image-con img{
        max-width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }

    .top-genres .container{
        max-width: 400px;
    }

    .info-con .one {
        max-width: 400px;
    }

    .oEventimu h1{
        width: 400px;
    }
}
